li {
  list-style: none;
}

input {
  border: 1px solid darkgray;
  padding: 10px;
  height: 20px;
  margin: 0 5px;
}

button {
  width: 30px;
  height: 30px;
  background: #238f76;
  color: #fff;
  border: none;
  font-size: 22px;
  margin: 0 10px;
}

.list {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  max-width: 1400px;
  margin: 0 auto;
}

.list li {
  width: 30%;
}

img {
  width: 100%;
}

.ec-title {
  margin-top: 20px;
  font-size: 20px;
}

.ec-price {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: red;
}

.ec-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}